# Funciones en Python

In [1]:
def suma(x, y):
    return x+y

In [2]:
class Operaciones(object):
    def suma(self, x, y):
        self.resultado = x+y
        return self.resultado

In [3]:
suma(2,3)

5

In [4]:
operInstance = Operaciones()
operInstance.suma(2,3)

5

In [10]:
def saludar():
    name = str(input("Introduce tu nombre: "))
    if name:
        print("Hola "+name)
    else:
        print("Hola, estoy programando!")

In [13]:
saludar()

Introduce tu nombre: Juan Gabriel
Hola Juan Gabriel

In [14]:
suma(2,3)*5

25

In [15]:
def buscaPares():
    for x in range(10):
        if x % 2 == 0:
            return
    print("Fin de la ejecución")

In [21]:
buscaPares()

In [27]:
def sumaresta(x,y=0):
    suma = x+y
    resta = x-y
    return (suma, resta)

In [26]:
sumaresta(x=2,y=3)

(5, -1)

In [28]:
sumaresta(5)

(5, 5)

In [29]:
def suma(*args):
    return sum(args)

In [30]:
suma(1,2)

3

In [31]:
suma(1,2,3,4)

10

In [32]:
suma(1,2,3,4,5,6,7,8,9,10)

55

In [45]:
def sumacuadrados(*datos):
    total = 0
    for d in datos:
        total += d**2
    return total

In [34]:
sumacuadrados(1,2,3)

14

In [35]:
sumacuadrados(2.5, 3.6, 8.9, -2, 12.67)

262.9489

In [43]:
sumacuadrados2(1,2,3,4)

30

# Funciones anónimas

In [47]:
doble = lambda x: x*2

In [48]:
doble(4)

8

In [49]:
cuadrado = lambda x: x**2

In [50]:
cuadrado(5)

25

In [51]:
suma = lambda x, y: x+y

In [52]:
suma(2,3)

5

In [53]:
from functools import reduce

In [54]:
data = [1,2,3,4,5,6,7,8,9,10]

In [55]:
filtered_data = list(filter(lambda x: (x*2>8), data))

In [56]:
filtered_data

[5, 6, 7, 8, 9, 10]

In [57]:
mapped_data = list(map(lambda x: x*2, data))

In [58]:
mapped_data

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [59]:
reduced_data = reduce(lambda x, y: x+y, data)

In [60]:
reduced_data

55

In [61]:
import pandas as pd

In [91]:
data = pd.read_csv("../../data/bodyfat.txt", delimiter=" ")

In [92]:
data.head()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
3,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
4,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
5,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [74]:
data.tail()

     1  2200  51.0  1128  70.9  7  0.25  54.8  1720
70    8  1450  51.4  997  73.4  7  0.10  55.2  1454
71    8  1200  49.8  991  70.8  6  0.15  54.6  1475
72    8  1425  50.0  928  70.8  6  0.10  53.9  1375
73    8  1250  50.1  990  71.0  6  0.10  54.9  1564
74    8  1500  51.7  992  70.6  7  0.15  55.1  1458

In [94]:
data.iloc[[0]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1

In [83]:
data.loc[[0]]

     1  2200  51.0  1128  70.9  7  0.25  54.8  1720
0    1  2250  51.9  1108  72.1  7  0.25  55.3  1575

In [87]:
data[1:10:2]

     1  2200  51.0  1128  70.9  7  0.25  54.8  1720
1    1  1625  49.9  1011  71.6  6  0.15  53.1  1410
3     1  2150  51.2  996  68.6  7  0.25  55.0  1488
5     1  2250  51.0  959  72.1  7  0.20  54.0  1522
7     1  1600  50.1  979  71.2  6  0.25  51.5  1365
9    1  1850  50.6  1036  69.2  6  0.15  54.8  1570

In [98]:
data.describe()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,19.150794,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762
std,0.019031,8.368740,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585
min,0.995000,0.000000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000
25%,1.041400,12.475000,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000