# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [2]:
L1 = [] # Lista vacía

In [3]:
L2 = ['a', 'e', 'i', 'o', 'u'] # Lista con valores iniciales

In [4]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [5]:
L4 = ['a', 5, True, "Juan Gabriel"] # Lista heterogénea con varios tipos de datos diferentes

In [6]:
L4

['a', 5, True, 'Juan Gabriel']

In [7]:
L5 = [0]*10

In [8]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
L4[0] # Las listas en Python empiezan en la posición número 0

'a'

In [10]:
L4[1]

5

In [11]:
L5[4] = 3.1415 # Modificación de valores

In [12]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [13]:
L5[13] = 8

IndexError: list assignment index out of range

In [14]:
L5[13]

IndexError: list index out of range

In [15]:
L4[0:2] # Accesos de posiciones múltiples (incluye la primera, pero no la última)

['a', 5]

In [16]:
L5[1:4] = [1,2,3]

In [17]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [18]:
L5.append(8)

In [19]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [20]:
L5.remove(3)# Elimina la primera ocurrencia del objeto 3 de la lista L5

In [21]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [23]:
L5.reverse()

In [24]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [26]:
L5.count(0)

6

In [27]:
L5.index(2)

7

In [28]:
len(L5)

10

In [29]:
L = [1,2,3,4,5,6]

In [30]:
L[1::2]#Sacar elementos en posición impar

[2, 4, 6]

In [32]:
L[::2]#Sacar elementos en posición par

[1, 3, 5]

In [33]:
L[-1]

6

In [34]:
8 in L

False

In [35]:
4 in L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [36]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [37]:
numero

6

In [38]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [39]:
for c in "Juan Gabriel":
    print(c)

J
u
a
n

G
a
b
r
i
e
l

In [40]:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta.

In [41]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [46]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos): 
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [49]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# Tupla
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [54]:
p1 = (1,)

In [55]:
p1

(1,)

In [52]:
p2 = (1,2,3,4)

In [53]:
p2

(1, 2, 3, 4)

In [56]:
p3 = (1,2,'c',3.1415)

In [57]:
p3

(1, 2, 'c', 3.1415)

In [58]:
p3[0]

1

In [59]:
p3[0:2]

(1, 2)

In [60]:
a,b,c,d = p3

In [61]:
a

1

In [62]:
b

2

In [63]:
c

'c'

In [64]:
d

3.1415

In [65]:
l3 = list(p3)
l3

[1, 2, 'c', 3.1415]

In [66]:
p5 = tuple(L5)
p5

(8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [68]:
"Hola que tal   estás".split(" ")

['Hola', 'que', 'tal', '', '', 'estás']

In [69]:
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

In [76]:
numeros = input("Escribe números separados por comas.")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por comas.8,4,2,6,4,8
['8', '4', '2', '6', '4', '8']
('8', '4', '2', '6', '4', '8')

In [77]:
suma = 0
for n in numerosT:
    suma += int(n)
    
print(suma/len(numerosT))

5.333333333333333

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [80]:
nombre = input("Introduce aquí tu nombre")
print("Hola %s"%nombre)

Introduce aquí tu nombreMaría Magdalena
Hola María Magdalena

In [82]:
print("Estos son los números primos: %s"%primos)

Estos son los números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [83]:
print("Esto es un número: %d"%suma)

Esto es un número: 32

In [87]:
media = suma/len(numerosT)
print("Esto es un número decimal: %.0f"%media)

Esto es un número decimal: 5

In [88]:
edad = {
    "Juan Gabriel":30, 
    "María":20, 
    "Ricardo":53, 
    "Antonio":45
}

In [90]:
edad["Ricardo"]

53

In [91]:
edad["Ricardo"] = 52

In [92]:
edad

{'Antonio': 45, 'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [93]:
edad.keys()

dict_keys(['María', 'Ricardo', 'Antonio', 'Juan Gabriel'])

In [94]:
edad.values()

dict_values([20, 52, 45, 30])

In [95]:
len(edad)

4

In [96]:
"Pepe" in edad

False

In [97]:
"María" in edad

True

In [98]:
"Mario" not in edad

True

In [100]:
del edad["Antonio"]

In [101]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [102]:
notas = {"Al1": 5.6, "Al2":7.5, "Al3": 10, "Al4":False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}